{% extends 'default/base.html' %}

{% block content %}
<main role="main" class="main-container">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">A Wonderful Time to Share</h1>
      <p>This is a place for you to share cooks and recipes!</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row" id="result">

    </div>
    <hr>
  </div> <!-- /container -->
</main>

<script type="text/javascript">
  var xhr = new XMLHttpRequest();
  var onloadHandle = function() {
    var data = JSON.parse(JSON.parse(xhr.responseText).data);
    var result = document.getElementById('result');
    var strHTML = "";
    console.log(data);
    data.forEach(function(value) {
      strHTML += '<div class="col-md-4"><h4>' + value.fields.title + '</h4><a href="#">' + '<img src="' + value.fields.image_path + '" class="img-fluid img-thumbnail"></a></div>';
    });
    result.innerHTML = strHTML;
  };
  xhr.open('GET', 'http://localhost:8000/api/recipes', true);
  xhr.send();

  xhr.onload = onloadHandle;
</script>
{% endblock %}
